.new-section{
    background-color: #f5f7fa;
    margin: 50px 0;
    padding: 10px 0;
}


.new-section-container{
    margin: 40px 0;
}
.new-heading {
    font-size: 44px;
    font-weight: 500;
}


.new-subheading {
    font-size: 22px;
    margin: 30px 0;
}

.new2-subheading {
    font-size: 22px;
    margin: 30px 0;
    line-height:1.8;
}

.btn1 {
    background-color: #333333;
    padding: 18px 32px;
    color: #f5f7fa;
    font-family: 'Inter', sans-serif;
    font-size: 18px;

}

.img-div {
    padding: 20px;
    
}


@media screen and (max-width: 768px){
    .new-img{
          width: 100%;
          margin-right: 20px;
          margin-top: 20px;
          height: 90%;
    }
    .new-section-container{
        margin: 0px 0;
    }

    
     
 }